<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Heroinas & Heroes | Home </title>
</head>
<body>

    <h1> HEROINAS Y HEROES TECNOLOGICOS</h1>
    <a href="/babbage"> <img title="Babbage" height="200" src="/img/babbage.jpg" alt = "Babbage"/>  </a>
    <a href="/berners-lee">    <img title="Berners-lee" height="200" src="/img/berners-lee.jpg" alt = "Berners-lee"/></a>
    <a href="/turing"> <img title="Turing" height="200" src="/img/turing.webp" alt = "Turing"/> </a>
    <br>   
    <a href="/clarke"> <img  title="Clarke" height="200" src="/img/clarke.jpg" alt = "Clarke"/>  </a>
    <a href="/hamilton"> <img title="Hamilton" height="200" src="/img/hamilton.jpg" alt = "Hamilton"/></a>
    <a href="/hopper"> <img title="Hopper" height="200" src="/img/hopper.jpg" alt = "Hopper"/> </a>
    <br>   
    <a href="/lovelace"> <img title="Lovelace" height="200" src="/img/lovelace.jpg" alt = "Lovelace"/> </a>

       
</body>
</html>